# Frontend (Angular) Specific Ignores
/form-generator-frontend/node_modules/
/form-generator-frontend/dist/
/form-generator-frontend/.angular/
/form-generator-frontend/coverage/
/form-generator-frontend/.eslintcache
/form-generator-frontend/.fusebox/
/form-generator-frontend/.sass-cache/

# Backend (NestJS) Specific Ignores
/form-generator-backend/node_modules/
/form-generator-backend/dist/
/form-generator-backend/coverage/
/form-generator-backend/.eslintcache
/form-generator-backend/logs/

# Common Ignores (apply to any level if not specific to a sub-project)
.env
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
.vscode/